* {
    margin: 0%;
    padding: 0%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}
 
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:rgba(116, 133, 0, .6);
}

.title h1, .question-container h2 {
    background-color: rgba(248, 248, 255, .8) ;
    border-radius: 15px;
    margin-bottom: 15%;
    padding: 20px;
}

 
.text-container {
    background-color: rgba(128, 75, 52, .8);
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px;
    max-width: 50%;
}

.your-options h2 {
    background-color: red;
    opacity: 72%;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    display: none;
}

.question-container {
    display: none;
}

.btns-container {
    display: none;
}

.no-btn, .yes-btn {
    padding: 10px;
    margin: 10px;
}

.no-btn, .yes-btn:hover {
    cursor: pointer;
}

.no-btn, .yes-btn:hover {
    transform:translate((-50%,))
}

.try-again-container {
    display: none;
}

.try-again-btn {
    padding: 10px;
}
